In [46]:
import csv
import pandas as pd
import geopandas as gpd

df = pd.read_csv('earthquakes_2016.csv')
df.head()

,FID,OBJECTID,id,gap,magnitude,impact_sig,depth,location_d,fullName,lat,...,location_n,time_day,time_epoch,time_full,time_hour,time_minut,time_month,time_secon,time_year,rock_hard
0,0,1,nc72666881,122.000000,1.43,31,15.120,0.103400,"13km E of Livermore, California",37.672333,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,19,7,43,2016,2.0
1,2,3,nc72666891,249.000000,0.06,0,4.390,0.027430,"12km SE of Mammoth Lakes, California",37.576500,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,31,7,37,2016,2.0
2,3,4,nc72666896,122.000000,0.40,2,1.090,0.026990,"6km SSW of Mammoth Lakes, California",37.595833,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,35,7,44,2016,3.0
3,5,6,ak13805337,50.399996,1.80,50,1.300,0.044916,"91km N of Redoubt Volcano, Alaska",61.296300,...,Alaska,27,1.470000e+12,7/27/2016 0:00:00,0,52,7,52,2016,1.0
4,6,7,hv61354276,93.000000,1.00,15,2.452,0.026600,"27km E of Honaunau-Napoopoo, Hawaii",19.423500,...,Hawaii,27,1.470000e+12,7/27/2016 0:00:00,0,53,7,35,2016,3.0

In [61]:
# check how many data are into the 
df.count()

FID           4172
OBJECTID      4172
id            4172
gap           4172
magnitude     4172
impact_sig    4172
depth         4172
location_d    4172
fullName      4172
lat           4172
lon           4172
location_n    4172
time_day      4172
time_epoch    4172
time_full     4172
time_hour     4172
time_minut    4172
time_month    4172
time_secon    4172
time_year     4172
rock_hard     4172
dtype: int64

In [62]:
size = df['rock_hard'].value_counts(sort = 1)
print (size)

3.0    1598
1.0    1523
2.0    1051
Name: rock_hard, dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4172 entries, 0 to 4171
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         4172 non-null   int64
 1   OBJECTID    4172 non-null   int64
 2   id          4172 non-null   object
 3   gap         4172 non-null   float64
 4   magnitude   4172 non-null   float64
 5   impact_sig  4172 non-null   int64
 6   depth       4172 non-null   float64
 7   location_d  4172 non-null   float64
 8   fullName    4172 non-null   object
 9   lat         4172 non-null   float64
 10  lon         4172 non-null   float64
 11  location_n  4172 non-null   object
 12  time_day    4172 non-null   int64
 13  time_epoch  4172 non-null   float64
 14  time_full   4172 non-null   object
 15  time_hour   4172 non-null   int64
 16  time_minut  4172 non-null   int64
 17  time_month  4172 non-null   int64
 18  time_secon  4172 non-null   int64
 19  time_year   4172 non-null   int64
 20  rock_hard   4172 non-null   float64
dtypes: float64(8), int64(9), object(4)
memory usage: 684.6+ KB

In [49]:
# check colomns 
print (df.columns)

Index(['FID', 'OBJECTID', 'id', 'gap', 'magnitude', 'impact_sig', 'depth',
       'location_d', 'fullName', 'lat', 'lon', 'location_n', 'time_day',
       'time_epoch', 'time_full', 'time_hour', 'time_minut', 'time_month',
       'time_secon', 'time_year', 'rock_hard'],
      dtype='object')

In [50]:
lat = df['lat']
lon = df['lon']
print(lat.head())
print(lon.head())

0    37.672333
1    37.576500
2    37.595833
3    61.296300
4    19.423500
Name: lat, dtype: float64
0   -121.619000
1   -118.859167
2   -118.994833
3   -152.460000
4   -155.609833
Name: lon, dtype: float64

In [15]:
#plot_df_gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(lon, lat), crs='epsg:4326')

In [51]:
import csv
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
df = pd.read_csv('earthquakes_2016.csv')
df.head()

,FID,OBJECTID,id,gap,magnitude,impact_sig,depth,location_d,fullName,lat,...,location_n,time_day,time_epoch,time_full,time_hour,time_minut,time_month,time_secon,time_year,rock_hard
0,0,1,nc72666881,122.000000,1.43,31,15.120,0.103400,"13km E of Livermore, California",37.672333,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,19,7,43,2016,2.0
1,2,3,nc72666891,249.000000,0.06,0,4.390,0.027430,"12km SE of Mammoth Lakes, California",37.576500,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,31,7,37,2016,2.0
2,3,4,nc72666896,122.000000,0.40,2,1.090,0.026990,"6km SSW of Mammoth Lakes, California",37.595833,...,California,27,1.470000e+12,7/27/2016 0:00:00,0,35,7,44,2016,3.0
3,5,6,ak13805337,50.399996,1.80,50,1.300,0.044916,"91km N of Redoubt Volcano, Alaska",61.296300,...,Alaska,27,1.470000e+12,7/27/2016 0:00:00,0,52,7,52,2016,1.0
4,6,7,hv61354276,93.000000,1.00,15,2.452,0.026600,"27km E of Honaunau-Napoopoo, Hawaii",19.423500,...,Hawaii,27,1.470000e+12,7/27/2016 0:00:00,0,53,7,35,2016,3.0

In [52]:
jp_df = pd.read_csv('JP_earthquake.csv')
jp_df.head()

,FID,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,place,type,horizontal,depthError,magError,magNst,status,locationSo,magSource,rock_level
0,0,2016-12-29T04:41:12.810Z,36.6781,140.5141,36.17,4.4,mb,,153,1.863,...,"14km NW of Hitachi, Japan",earthquake,9.7,10.5,0.190,8,reviewed,us,us,2
1,1,2016-12-28T12:53:12.410Z,36.8025,140.6817,10.00,4.7,mb,,123,1.068,...,"6km WNW of Kitaibaraki, Japan",earthquake,5.1,1.9,0.050,124,reviewed,us,us,3
2,2,2016-12-28T12:38:49.650Z,36.8604,140.4421,7.00,5.9,mww,,33,1.044,...,"13km NE of Daigo, Japan",earthquake,4.6,1.7,0.000,0,reviewed,us,us,3
3,3,2016-12-25T19:52:42.180Z,35.9812,139.9356,53.90,4.7,mb,,99,1.508,...,"5km SW of Mitsukaido, Japan",earthquake,4.9,5.8,0.065,71,reviewed,us,us,1
4,4,2016-12-24T11:47:40.910Z,35.5519,140.3020,78.79,4.7,mb,,158,1.943,...,"4km NNW of Oami, Japan",earthquake,5.4,9.9,0.174,10,reviewed,us,us,1

In [55]:
# check how many data are into the 
jp_df.count()

FID           225
time          225
latitude      225
longitude     225
depth         225
mag           225
magType       225
nst           225
gap           225
dmin          225
rms           225
net           225
id            225
updated       225
place         225
type          225
horizontal    225
depthError    225
magError      225
magNst        225
status        225
locationSo    225
magSource     225
rock_level    225
dtype: int64

In [56]:
jp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FID         225 non-null    int64
 1   time        225 non-null    object
 2   latitude    225 non-null    float64
 3   longitude   225 non-null    float64
 4   depth       225 non-null    float64
 5   mag         225 non-null    float64
 6   magType     225 non-null    object
 7   nst         225 non-null    object
 8   gap         225 non-null    int64
 9   dmin        225 non-null    float64
 10  rms         225 non-null    float64
 11  net         225 non-null    object
 12  id          225 non-null    object
 13  updated     225 non-null    object
 14  place       225 non-null    object
 15  type        225 non-null    object
 16  horizontal  225 non-null    float64
 17  depthError  225 non-null    float64
 18  magError    225 non-null    float64
 19  magNst      225 non-null    int64
 20  status      225 non-null    object
 21  locationSo  225 non-null    object
 22  magSource   225 non-null    object
 23  rock_level  225 non-null    int64
dtypes: float64(9), int64(4), object(11)
memory usage: 42.3+ KB

In [74]:
# x refers to the earthquake variables 
# y refers to the dependent variables - impact significant
X = df[['magnitude', 'depth', 'rock_hard']]
y = df[['impact_sig']]
# x1 is the data will be used for prediction - from japanese earthquake data
x1 = jp_df[['mag', 'depth', 'rock_level']]

In [71]:
from sklearn.model_selection import train_test_split
# test size = 0.2 means 20% of data will be used for testing the model
# rest of 80% of data will be used for build the model
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, X_test.shape)

(3337, 3) (835, 3) (3337, 1) (835, 3)

In [72]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(random_state=42)
reg.fit(X_train, y_train)
reg.predict(X_test)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

array([ 30.   ,  74.38 ,  15.   ,  22.   ,  31.   ,  54.   ,  17.   ,
        26.   ,   2.   ,  26.   ,   4.   ,  11.   ,  16.   ,   2.   ,
        26.   ,  56.   ,   1.   ,  10.   ,  15.   ,   4.   ,  12.   ,
         9.   ,   3.   ,  89.   ,   8.   ,  12.   ,  26.   ,  76.9  ,
        81.   ,  44.   ,  30.   ,  53.   ,  26.   ,  10.   ,   4.   ,
         9.   ,  12.   ,  74.002,  30.   ,   5.   ,  39.   ,   9.   ,
         1.   ,  22.   ,   2.   ,  35.   ,  41.99 ,  70.93 ,   1.   ,
         2.   ,   9.   ,  30.   ,  12.   ,   5.   ,  70.94 ,  22.   ,
        11.   ,  18.   ,  30.   ,   7.   ,   4.   ,  12.   ,  15.   ,
        26.   ,  41.99 ,   7.   ,   3.   ,   1.   ,  19.   ,  83.14 ,
         6.   ,  22.   ,  11.   ,  24.   ,  44.   ,  12.   ,  14.   ,
        56.   ,  17.   ,   3.   ,  19.   ,  68.   ,  30.   ,  50.   ,
        44.   ,  12.   ,  10.   ,  15.   ,  26.   ,  58.09 ,   6.   ,
         8.   ,   1.   ,  19.   ,  37.   ,  50.   ,  26.   ,   2.   ,
         6.   ,   2.   ,  19.   ,  12.   ,  56.   ,  12.   ,  32.   ,
         2.   ,   5.   ,   6.   ,  65.17 ,  35.   ,  39.   ,  89.02 ,
         4.   ,  26.   ,   7.   ,   4.   ,   6.   ,  17.   ,  12.   ,
        19.   ,   8.   ,  15.   ,  39.   ,  12.   ,  12.   ,  32.   ,
        62.   ,  12.   ,  17.   ,   8.   ,  13.   ,  13.   ,  27.   ,
        13.   ,   1.   ,   5.   ,  15.   ,   6.   ,  58.08 ,  35.   ,
        22.   ,   6.   ,  35.   ,  26.   ,  30.   ,  16.   ,  84.13 ,
        39.   ,  10.   ,   9.   ,  41.   ,  19.   ,  11.   ,   6.   ,
        30.   ,   7.   ,  14.   , 130.42 ,  12.   ,   7.   ,  33.   ,
        32.99 ,  20.   ,  10.   ,   5.   ,  35.   ,  17.   ,  12.   ,
         7.   ,  31.   , 264.2  ,  45.   ,  39.   ,  12.   ,  19.   ,
        57.29 ,   5.   ,  22.   ,   6.   ,  13.   ,   6.   ,  44.   ,
        17.   ,  33.   ,  12.   ,  36.   ,  29.   ,  15.   ,  62.   ,
        10.   ,  17.   ,   7.   ,  15.   ,  22.   ,  13.   ,  35.   ,
        68.   ,   1.   ,  14.   ,  30.   ,  15.   ,  10.   ,   4.   ,
        13.   ,   8.   ,  39.   ,  12.   ,  10.   ,   1.   ,  30.   ,
        35.   ,  68.   , 194.85 ,  35.   ,  35.   ,  15.   ,  35.   ,
       121.   ,  39.   ,  15.   ,  11.   ,  36.   ,  12.   ,  14.   ,
        22.   ,  39.   ,  44.   ,  12.   ,  22.   ,  30.   ,  44.   ,
        23.   ,  56.   , 114.11 ,  35.   ,   4.   ,   6.   ,   7.   ,
        67.98 ,  12.   ,   8.   ,  50.   ,  44.   ,  68.   ,  58.29 ,
         3.   ,   4.   ,  18.   ,  34.   ,  39.   ,  47.   ,  50.   ,
        35.   ,  35.   ,  11.   ,  30.   ,  19.   ,  29.   ,  19.   ,
        37.   ,   4.   ,  19.   ,  26.   ,  14.   ,  36.   ,  22.   ,
        16.   ,  81.   ,  35.   ,  64.98 ,   9.   ,  19.   ,  10.   ,
        52.   ,  21.   ,   4.   ,   4.   ,  50.   ,   8.   ,  21.   ,
        12.   ,   6.   ,   9.   ,  48.   ,  13.   ,  39.   ,   8.   ,
        68.   ,   2.   ,  44.   ,   6.   ,  22.   ,  14.   ,  24.   ,
        15.   ,  35.   ,   4.   ,   2.   ,  21.   ,  38.   ,   6.   ,
        16.   ,  62.   ,  32.   ,   8.   ,  78.   ,   4.   ,  26.   ,
         0.   ,  57.29 ,  28.1  ,   2.   ,  19.   ,  10.   ,  16.   ,
        19.   ,   3.   ,   2.   ,  39.   ,  22.   ,  19.   ,  26.   ,
        44.   ,  26.   ,  21.   ,  22.   ,  10.   ,  50.   ,   3.   ,
        35.   ,   1.   ,   8.   ,   8.   ,   2.   ,  26.   ,  29.   ,
        12.   ,  51.01 ,   1.   ,   2.   ,   6.   ,  10.   ,   8.   ,
        41.   ,  77.95 ,  74.   ,  17.   ,  63.06 ,   6.   ,   0.98 ,
         6.   ,  37.01 ,   3.   ,   8.   ,  30.   ,  34.   ,  27.   ,
         0.98 ,  18.   ,  19.   ,  22.   ,  11.   ,  54.99 ,  76.315,
        21.   ,  12.   ,   0.98 ,  56.   ,   4.   ,  56.   ,  60.   ,
        15.   ,   6.   ,  19.   , 104.03 ,  27.   ,  47.   ,  10.   ,
        12.   ,  16.   ,  39.   ,  44.   ,  19.   ,  21.   ,  43.   ,
        12.   ,  20.   ,   5.   ,  21.   ,   0.   ,   2.   ,  12.   ,
        47.99 ,  18.   ,  35.   ,  26.   ,  32.99 ,  44.   ,   3.   ,
         9.   ,   5.   ,  44.   ,  54.99 ,  24.   ,  14.   ,  16.   ,
        28.   ,  26.   ,  12.   ,  18.   ,  24.   ,  50.   ,  50.   ,
         6.   ,   6.   ,  10.   ,  26.   ,  12.   ,  50.   ,  19.   ,
        96.   ,  22.   ,  20.   ,   9.   ,   5.   ,  22.   ,   5.   ,
         2.   ,   8.   ,  18.   ,   1.   ,   4.   ,  37.01 ,   4.   ,
        19.   ,   9.   ,  22.   ,   7.   ,  22.   ,  29.   ,   0.   ,
        35.   ,  44.   ,   7.   ,  15.   ,   1.   ,  10.   ,   3.   ,
         6.   ,   6.   ,  50.   ,  22.   ,   5.   ,  51.01 ,  10.   ,
        24.   ,  56.   ,  30.   ,   8.   ,  19.   ,  11.   ,   1.   ,
         3.   ,  16.   ,  45.99 ,  10.   ,   3.   ,  56.   , 101.83 ,
        44.   ,  10.   ,   2.   ,   4.   ,   4.   ,   4.   ,   0.98 ,
        31.   ,   4.   ,   6.   ,   9.   ,  10.   ,  30.   ,   0.   ,
         4.   ,   6.   ,  10.   ,   4.   ,  29.   ,  60.   , 110.05 ,
        44.   ,  89.   ,  49.   ,   4.   ,  24.   ,  38.   ,   4.   ,
        10.   ,   7.   ,  30.   ,   5.   ,  26.   ,  32.   ,   4.   ,
        15.   ,   9.   ,  20.   ,  13.   ,  10.   ,   4.   ,   6.   ,
       234.58 ,  20.   ,  61.   ,  10.   ,   8.   ,  50.   ,  14.   ,
        22.   ,  54.01 ,  20.   ,   6.   ,  89.   ,  11.   ,   6.   ,
        30.   ,  39.95 ,  62.   , 104.23 ,  12.   ,  15.   ,   3.   ,
        11.   ,  35.   ,  14.   ,  20.   ,  44.   ,  36.   ,  10.   ,
        30.   ,  19.   ,  22.   ,  91.72 ,   8.   ,  14.   ,  62.99 ,
        15.   ,  10.   ,  26.   ,   5.   ,  41.   ,  12.   ,   4.   ,
        10.   ,  31.   ,   0.   ,   1.   ,  30.   ,   4.   ,   4.   ,
        56.   ,   7.   ,  81.   ,   5.   ,  15.   ,   5.   ,  22.   ,
         8.   ,  19.   ,  62.   ,  10.   ,   8.   ,  15.   ,  35.   ,
        11.   ,  21.   ,   1.   ,  14.   ,  32.99 ,   8.   ,   2.   ,
         4.   ,  19.   ,  13.   ,  28.   ,  26.   ,  37.   ,   2.   ,
         2.   ,   8.   ,  17.   ,  14.   ,   6.   ,   4.   ,  56.   ,
        58.09 ,   0.   ,   8.   ,  50.   ,   0.   ,  15.   ,  21.   ,
        45.99 ,  26.   ,  22.   ,  19.   ,  19.   ,  26.   ,   3.   ,
        16.   ,  30.   ,  21.   ,  15.   ,  27.   ,  19.   ,  96.   ,
        30.   ,  74.   ,  44.   ,  47.   ,  12.   ,  35.   ,   2.   ,
         0.   ,   9.   ,  25.   ,  54.01 ,  19.   ,  10.   ,  19.   ,
        38.   ,  15.   ,  19.   ,   0.   ,   1.   ,  42.   ,  19.   ,
         8.   ,  26.   ,   2.   ,  34.   ,   6.   ,  15.   ,   6.   ,
        23.   ,  44.   ,  15.   ,  45.   ,  15.   ,  12.   ,  44.   ,
         8.   ,  39.   ,   6.   ,  76.05 ,  12.   ,  12.   ,  39.   ,
        12.   ,   3.   ,   1.   ,   2.   ,  35.   ,   4.   ,  60.   ,
        15.   ,  50.   ,   4.   ,  22.   ,  12.   ,   3.   ,   4.   ,
        61.96 ,  30.   ,  35.   ,   1.   ,  62.   ,   4.   ,  12.   ,
        19.   ,  42.99 ,  37.1  ,   6.   ,  26.   ,   9.   ,  22.   ,
        35.   ,  23.   ,   3.   ,  15.   ,  22.   ,  72.01 ,   9.   ,
        30.   ,   4.   ,   1.   ,  22.   ,  42.99 ,   2.   ,  21.   ,
        10.   , 216.52 ,   8.   ,   4.   ,   3.   ,  51.99 ,  19.   ,
        26.   ,  10.   ,  35.   , 140.37 ,  19.   ,  13.   ,  31.   ,
        35.   ,   3.   ,  15.   ,   6.   ,   1.   ,  12.   ,  44.   ,
        35.   ,  81.   ,   3.   ,  68.   ,   5.   ,  34.   ,  10.   ,
        18.   ,   4.   ,   2.   ,  26.   ,  30.   ,  29.   ,  63.06 ,
        39.   ,   8.   ,  10.   ,  30.   ,  28.   ,   4.   ,  24.   ,
        22.   ,  52.   ,  16.   ,   5.   ,  44.   ,   0.   ,  65.96 ,
        12.   ,  39.   ,   6.   ,   9.   ,   0.   ,  16.   ,   8.   ,
        35.   ,  54.99 ,  62.   ,  68.   ,  39.   ,  22.   ,  35.97 ,
        15.   ,  10.   ,  23.   ,  11.   ,  21.   ,  22.   ,  30.   ,
         9.   ,  26.   ,  70.03 ,  12.   ,  28.28 ,  47.   ,   6.   ,
         8.   ,  30.   ,  10.   ,   7.   ,  11.   ,   1.   ,   6.   ,
         2.   ,  19.   ,  61.   ,  35.97 ,  12.   ,  18.   ,  39.   ,
        58.26 ,  22.   , 191.72 ,  13.   ,  18.   ,   7.   ,  26.   ,
         6.   ,   8.   , 102.44 ,   4.   , 191.63 ,  15.   ,   7.   ,
        44.   ,  12.   ,  10.   ,   5.   ,  12.   ,  26.   ,   3.   ,
        62.   ,   4.   ,  14.   ,  21.   ,  12.   ,  44.   ,  22.   ,
        21.   ,  89.   ,   1.   ,   6.   ,  22.   ,  11.   ,  15.   ,
        44.   ,  22.   ,   0.   ,  22.   ,  30.   ,   1.   ,   4.   ,
         8.   ,  12.   ])

In [73]:
reg.score(X_test, y_test)

0.9987447984964026

In [78]:
impact_predict = reg.predict(x1)
print (impact_predict)

[276.86 682.85 681.75 687.38 684.18 263.36 266.95 260.48 267.94 272.26
 265.99 271.56 686.77 426.27 277.78 685.71 276.86 683.84 265.11 426.67
 281.37 682.85 266.95 260.48 422.09 277.16 277.96 685.71 420.45 240.6
 240.6  267.08 680.94 263.36 687.23 276.56 274.37 683.84 685.71 265.99
 282.36 687.05 433.38 425.68 684.65 687.38 285.75 269.24 267.94 267.94
 684.22 272.37 290.19 265.11 257.01 267.94 265.99 264.56 267.94 271.82
 274.57 265.99 276.86 683.84 290.19 276.56 687.38 276.56 687.38 686.42
 263.36 276.86 245.64 290.19 267.16 274.11 277.16 420.45 276.56 683.58
 263.84 274.11 687.38 276.75 265.99 276.56 263.36 276.86 265.99 263.36
 275.46 290.19 263.36 433.38 290.19 687.38 263.36 263.86 247.85 428.27
 431.39 276.56 265.11 257.01 265.11 271.96 265.11 275.58 263.86 269.24
 258.38 684.22 680.94 274.09 265.11 272.37 260.5  684.22 271.56 424.65
 276.97 681.95 265.11 266.95 420.69 272.36 684.22 278.46 278.37 683.58
 424.65 423.4  681.68 683.58 278.46 424.65 267.08 424.65 684.22 278.46
 268.   681.95 428.27 261.14 277.21 424.65 686.42 265.11 279.93 284.13
 265.11 265.11 681.95 685.71 278.46 259.98 423.4  262.09 684.22 684.22
 684.22 684.22 684.22 682.85 684.22 259.98 265.11 278.46 424.65 684.22
 278.46 424.65 278.46 684.22 684.22 683.58 684.22 278.46 265.11 278.46
 684.22 684.22 684.22 265.11 682.85 683.58 433.38 275.46 276.75 256.05
 272.56 263.67 290.79 272.37 277.96 263.36 682.85 278.67 267.94 263.36
 277.96 245.64 264.25 685.71 263.67 264.56 290.19 277.78 244.62 433.38
 417.21 265.99 266.95 422.09 274.57 260.48 273.93 245.51 275.46 266.95
 241.65 687.38 271.77 245.51 246.6 ]

In [84]:
# add the predicted result to the csv file
# to the number of rows in data

jp_df['impact_sig'] = impact_predict
jp_df.to_csv("JP_earthquake.csv")
jp_df.head()

,FID,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,...,type,horizontal,depthError,magError,magNst,status,locationSo,magSource,rock_level,impact_sig
0,0,2016-12-29T04:41:12.810Z,36.6781,140.5141,36.17,4.4,mb,,153,1.863,...,earthquake,9.7,10.5,0.190,8,reviewed,us,us,2,276.86
1,1,2016-12-28T12:53:12.410Z,36.8025,140.6817,10.00,4.7,mb,,123,1.068,...,earthquake,5.1,1.9,0.050,124,reviewed,us,us,3,682.85
2,2,2016-12-28T12:38:49.650Z,36.8604,140.4421,7.00,5.9,mww,,33,1.044,...,earthquake,4.6,1.7,0.000,0,reviewed,us,us,3,681.75
3,3,2016-12-25T19:52:42.180Z,35.9812,139.9356,53.90,4.7,mb,,99,1.508,...,earthquake,4.9,5.8,0.065,71,reviewed,us,us,1,687.38
4,4,2016-12-24T11:47:40.910Z,35.5519,140.3020,78.79,4.7,mb,,158,1.943,...,earthquake,5.4,9.9,0.174,10,reviewed,us,us,1,684.18